<div class="bg-white cursor-pointer rounded overflow-hidden shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] relative top-0 hover:-top-2 transition-all duration-300">
  <img src="https://readymadeui.com/Imagination.webp" alt="Blog Post 1" class="w-full h-60 object-cover" />
  <div class="p-6">
    <span class="text-sm block text-gray-400 mb-2">28 SEPT 2024 | Caudéran </span>
    <h3 class="text-xl font-bold text-gray-800">JSA vs Caudéran</h3>
    <hr class="my-4" />
    <p class="text-gray-400 text-sm">Match amical qui aura lieu au gymnase de cauderan à partir de 16h</p>
  </div>
</div>
