<h1>
  @if (!!player) {
    Modifier un joueur
  } @else {
    Créer un nouveau joueur
  }
</h1>

<mat-card>
  <div class="container">
    <form (submit)="validate()" [formGroup]="formGroup">
      <div class="row">
        <div class="col-2">
          <mat-form-field>
            <mat-label>Sexe</mat-label>
            <mat-select
              formControlName="gender"
              placeholder="Choisir un sexe"
              title="Sexe">
              <mat-option value="0">
                Homme
              </mat-option>
              <mat-option value="1">
                Femme
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <mat-form-field>
            <mat-label>Nom de famille</mat-label>
            <input
              formControlName="lastname"
              matInput
              maxlength="20"
              placeholder="Entrer un nom de famille"
              title="Nom de famille"
              type="text" />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input
              formControlName="firstname"
              matInput
              maxlength="20"
              placeholder="Entrer un prénom"
              title="Prénom"
              type="text" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <mat-form-field>
            <mat-label>Poste</mat-label>
            <mat-select
              formControlName="post"
              placeholder="Choisir un poste"
              title="Poste">
              <mat-option value="GUARD">
                Meneur
              </mat-option>
              <mat-option value="FORWARD">
                Ailier
              </mat-option>
              <mat-option value="CENTER">
                Pivot
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field>
            <mat-label>Niveau</mat-label>
            <mat-select
              formControlName="level"
              placeholder="Choisir un niveau"
              title="Niveau">
              <mat-option value="1">
                Débutant
              </mat-option>
              <mat-option value="2">
                Intermédiaire
              </mat-option>
              <mat-option value="3">
                Confirmé
              </mat-option>
              <mat-option value="4">
                All-star
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="file-container">
            @if (!!formGroup.get('picture')?.value) {
              <div class="preview">
                <img [src]="formGroup.get('picture')?.value" alt="picture" />
              </div>
            } @else {
              <div dropFile (fileDropped)="fileDropped($event)">
                <div class="align-center">
                  <small>
                    <mat-icon>file_upload</mat-icon>
                  </small>
                  <small>Déposer le fichier ici</small>
                  <p>OU</p>
                  <button class="btn-primary" mat-raised-button type="button" (click)="fileInput.click()">Parcourir
                  </button>
                </div>
              </div>
            }
            <input
              hidden="hidden"
              #fileInput
              class="file-input"
              type="file"
              accept="image/*"
              (change)="onPictureChange($event)" />
          </div>
          @if (!!formGroup.get('picture')?.value) {
            <div class="align-right">
              <button type="button" class="btn-danger" mat-flat-button (click)="deletePicture()">
                <mat-icon>delete</mat-icon>
                Supprimer
              </button>
            </div>
          }
          @if (hasPictureError) {
            <p class="warn">
              Une erreur est survenue lors de l'upload de l'image.
            </p>
          }
        </div>
      </div>
      <div class="row align-right">
        <button [disabled]="formGroup.invalid" class="mat-elevation-z1 btn-primary" mat-flat-button type="submit">
          Valider
        </button>
        <button type="button" (click)="cancel()" class="mat-elevation-z1" mat-flat-button>Annuler</button>
      </div>
    </form>
  </div>
</mat-card>
