<span [matTooltip]="value | number: '1.2-2'" matTooltipPosition="above">
@if (value < 1) {
  <mat-icon>star_half</mat-icon>
} @else if (value >= 1) {
  <mat-icon>star</mat-icon>
}

@if (value >= 1.3 && value < 2) {
  <mat-icon>star_half</mat-icon>
} @else if (value >= 2) {
  <mat-icon>star</mat-icon>
}

@if (value >= 2.3 && value < 3) {
  <mat-icon>star_half</mat-icon>
} @else if (value >= 3) {
  <mat-icon>star</mat-icon>
}

@if (value >= 3.3 && value < 4) {
  <mat-icon>star_half</mat-icon>
} @else if (value >= 4) {
  <mat-icon>star</mat-icon>
}
</span>
