.content-container {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 25px;

  &.extra-padding {
    padding-left: 75px;
  }
}

.sidenav {
  min-width: 50px;

  &.opened {
    width: 170px;
  }

  a {
    &.active-link {
      // todo
    }

    .mat-mdc-list-item-unscoped-content {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .mat-line {
      position: absolute;
      margin: 2px 0 0 5px;
    }
  }

  .toggle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.bottom {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  a {
    display: flex;
    .mat-line {
      align-content: center;
    }
  }
}
