@import "./assets/styles/normalize.scss";
@import "./assets/styles/variables.scss";

/* Material override */
mat-sidenav[style] {
  visibility: visible !important;
}

.mat-drawer {
  transform: none !important;
}

.mat-drawer[style*="visibility: hidden"] {
  display: inline-block !important;
}

/* Forms */
input.ng-invalid.ng-dirty {
  border-color: $error-color;
}

mat-form-field {
  width: 100%;
}

/* Display */
mat-card {
  padding: 15px;
}

.mt {
  margin-top: 1rem;
}

.row {
  display: inline-block;
  width: 100%;

  @media screen and (min-width:720px) {
    .col-1 {
      width: 100%
    }
    .col-2 {
      width: 50%;
    }
    .col-3 {
      width: 33%;
    }
    .col-4 {
      width: 25%;
    }
  }
  @media screen and (max-width:720px) {
    .col-* {
      width: 100%
    }
  }
}

table {
  margin-bottom: 15px;
  tr[mat-header-row] {
    font-weight: bold;
  }
}

.align-right {
  display: flex;
  flex-direction: row-reverse;
  button+button {
    margin-right: 15px;
  }
}

.align-center {
  display: flex;
  justify-content: center;
}

p {
  &.warn {
    color: $error-color;
  }
}

/* Buttons */
button[type="submit"],
button.btn-primary {
  &:not(.mat-mdc-button-disabled) {
    background-color: darkorange !important;
    color: white !important;
  }
}

button.icon-only {
  background-color: transparent;
  border: none;
  color: darkorange;
}

