<h1 class="font-bold leading-snug tracking-tight text-slate-800 my-8 w-full text-2xl lg:max-w-3xl lg:text-5xl">
  Trombinoscope
</h1>
<mat-card>
  <div>
    <app-search (queryValue)="onSearchChanged($event)" />
    <div class="py-8 mx-auto">     
      @if (!searchValue) {
        <small class="align-right">
          Nombre de joueurs total: {{ sortedPlayers().length }}
        </small>
      }

      <div class="flex items-center justify-center flex-wrap gap-2 lg:gap-4">
        @for (player of sortedPlayers() | filter: searchValue : ['lastname', 'firstname']; track player) {
          <card-photo-item [player]="player" [showRating]="false" />
        } @empty {
          <p>Aucun résultat</p>
        }
      </div>
    </div>

  </div>
</mat-card>


