<div class="container mx-auto py-10 w-full">
  <form class=" bg-white" (submit)="onSubmit()" [formGroup]="searchForm">
    <div class="mb-4 flex items-center">
      <input type="text"  formControlName="query" class="w-full rounded-lg border border-gray-400 p-2" placeholder="nom ou prenom..." />
      <button class="ml-2 rounded-lg bg-blue-500 p-2 text-white hover:bg-blue-600">Rechercher</button>
    </div>
  </form>
  @if (!!filters) {
    <p>Résultat de la recherche: <i class="font-semibold">{{filters.toUpperCase()}}</i></p>
  }
</div>
